# Copy to terraform.tfvars and fill in values for your environment.
region = "YOUR_REGION"

# Compute
instance_flavor = "YOUR_FLAVOR"
image_id        = "YOUR_IMAGE_ID"
keypair_name    = "YOUR_KEYPAIR"

# DB
db_version  = "YOUR_DB_VERSION"
db_flavor   = "YOUR_DB_FLAVOR"
db_password = "REPLACE_ME"

# VPN
vpn_peer_ip = "YOUR_PEER_PUBLIC_IP"
vpn_psk     = "REPLACE_ME"
